section {
  padding: 60px 0;
  border-bottom: 1px solid #e9ecef;
}

section:last-of-type {
  border-bottom: none;
}

h2 {
  font-weight: 700;
  color: #343a40;
}

pre code {
  font-size: 1.1rem;
}

.lead {
  font-size: 1.3rem;
}
